<h1>Practice Question</h1>

<p>Which of the following is the Single Responsibility Principle?
<ul>
    <li>a) A class should only have only one reason to change.</li>
    <li>b) Each developer on a team should have one main responsibility.</li>
    <li>c) Every app will have one responsibility that is most important to users.</li>
</ul>

<%= link_to "Profile Page", "nschwrzm"%>