<h1>Software Review(s)</h1>

<h2>Minesweeper</h2>
<%= image_tag "Minesweeper.png" %>
<h3>The Good, the Bad, and the Ugly</h3>
<p>
A true classic for Windows users.  I never was able to master it--probably because it was never able to hold my attention.
<br>
3.5 / 5
</p>

<p>
    <h3>Developer(s):</h3>
    <ul>
        <li>Curt Johnson</li>
        <li>Oberon Media</li>
        <li>Arkadium & Microsoft Casual Games</li>
    </ul>
    <h3>Publisher(s):</h3>
    <ul>
        <li>Microsoft</li>
        <li>Microsoft Studios</li>
    </ul>
    <h3>Released: 1992</h3>
    <h3>Supported by:</h3>
    <ul>
        <li>Windows 3.1</li>
        <li>Windows 9x</li>
        <li>Windows NT 3.1-Windows 7</li>
        <li>Windows 8, 10</li>
    </ul>
</p>

<h4>Feedback</h4>
<form>
    Name: <input type="text">
    <br>Age: 13-17<input type="radio"> 17-24<input type="radio"> 25+ <input type="radio">
    <br>Opinion:<textarea rows="3"></textarea>
    <br>Numbers
    <input list="Numbers">
    <datalist id="Numbers">
        <option value="One">
        <option value="Two">
        <option value="Three">
    </datalist>
    <br><button>Button</button>
</form>
<br>
<p><font size="1">Image copyright <%= link_to "Microsoft", "https://www.microsoft.com/en-us/p/microsoft-minesweeper/9wzdncrfhwcn", target: "_blank" %>, details extracted from <%= link_to "Wikipedia.org", "https://en.wikipedia.org/wiki/Microsoft_Minesweeper", target: "_blank" %> for educational purposes</font></p>
